{% extends "layout.html" %}
{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='./css/card.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='./css/events.css') }}">
<div class="mdl-grid">
	{% for event in Events %}
  	<div class="mdl-card mdl-cell mdl-cell--11-col mdl-cell--4-col-tablet mdl-shadow--2dp">
			<div class="mdl-card__title">
				<h1 class="mdl-card__title-text">{{event.title}}</h1>
			</div>
			<div class="flex">
				<div class="mdl-card__supporting-text mdl-cell--8-col">
					<p><i class="material-icons">today</i>{{ event.day }}　　<i class="material-icons">location_on</i>{{ event.location }}</p>
	        <p><i class="material-icons">directions_run</i>{{ event.doortime }}　　　<i class="material-icons">music_note</i>{{ event.showtime }}　　　<i class="material-icons">lock</i>{{ event.closetime }}</p>
				</div>
				<div class="mdl-card__media mdl-cell--3-col">
					<img src="{{ url_for('static', filename='./img/event/') }}{{event.imgname}}" width="173" border="0" alt="イベント画像">
				</div>
			</div>
			<div class="mdl-card__actions mdl-card--border">
	      <!-- @TODO どこかリンク先実装するぞ！
				<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Read More</a>
				-->
		    <div class="mdl-layout-spacer"></div>
	    	<button class="mdl-button mdl-button--icon mdl-button--colored"><i class="material-icons">favorite</i></button>
				<a href="https://twitter.com/share?url=https://uedahikaru.info/events=twitterapi%2Ctwitter&text={{ event.day }} {{ event.title }}" target=”_blank”>
					<button class="mdl-button mdl-button--icon mdl-button--colored"><i class="material-icons">share</i></button>
				</a>
    	</div>
  	</div>
	{% endfor %}
</div>
<div class="events-pager-text">
	{% if prevpage > 0 %}
	<a href="/events?page={{ prevpage }}">
		<button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
			<i class="material-icons">navigate_before</i>
		</button>
	</a>
	{% endif %}

	<a href="/events?page={{ nextpage }}">
		<button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
			<i class="material-icons">navigate_next</i>
		</button>
	</a>
</div>
{% endblock %}
