{% extends "layout.html" %}
{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='./css/index.css') }}">
<div class="index-center">
  <div class="index-title">Let's share the information of Hikaru Ueda, <br>
    <label class="index-title-sub">be together.........</label>
  </div>
</div>
<br>
<br>
<div class="index-flex">
{% for NextEvent in NextEvents %}
<div class="demo-card-event mdl-card mdl-shadow--2dp mdl-cell--6-col">
  <div class="mdl-card__title mdl-card--expand">
    <h5>Next Event</h5>
  </div>
  <div class="mdl-card__supporting-text index-nextevent-text">
    <h6>{{ NextEvent.title }}</h6>
    <h7><i class="material-icons">location_on</i>{{ NextEvent.location }}<h7>
    <i class="material-icons">today</i><h7>{{ NextEvent.day }}</h7>
    <h7>{{ NextEvent.showtime }}</h7>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Add to Calendar
    </a>
    <div class="mdl-layout-spacer"></div>
    <i class="material-icons">event</i>
  </div>
</div>
{% endfor %}
{% endblock %}
