{% extends "layout.html" %} {% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='./css/card.css') }}">
<div class="mdl-layout mdl-js-layout mdl-color--grey-100">
  <main class="mdl-layout__content">
    <div class="mdl-grid">
      {% for info in News %}
      <div class="mdl-card mdl-cell mdl-cell--11-col mdl-cell--4-col-tablet mdl-shadow--2dp">
        <div class="mdl-card__title">
          <h1 class="mdl-card__title-text">{{info.title}}</h1>
        </div>
        <div class="flex">
          <div class="mdl-card__supporting-text mdl-cell--8-col">
            <p><i class="material-icons news-icon">today</i>{{ info.updatetime }}</p>
            <p><i class="material-icons news-icon">web</i>{{ info.link }}</p>
          </div>
          <div class="mdl-card__media mdl-cell--3-col">
            <img src="{{ info.imgurl }}" width="173" border="0" alt="イベント画像">
          </div>
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{ info.link }}" target=”_blank”>Read More</a>
          <div class="mdl-layout-spacer"></div>
          <button class="mdl-button mdl-button--icon mdl-button--colored"><i class="material-icons">favorite</i></button>
          <a href="https://twitter.com/share?url={{ info.link }}&related=twitterapi%2Ctwitter&text={{info.title}}" target=”_blank”>
            <button class="mdl-button mdl-button--icon mdl-button--colored"><i class="material-icons">share</i></button>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </main>
</div>
{% endblock %}
