<!DOCTYPE html>
<html lang="jp">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-97096639-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-97096639-2');
  </script>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-KJ8MXT4');</script>
  <!-- End Google Tag Manager -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="KYSCcQd67MTqBNu6X9GhjBltYFVPH5vp9sCFuf4Jo9U" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='./css/layout.css') }}">
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='./img/favicon.ico') }}" />
  <title>植田ひかるCrawler</title>
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KJ8MXT4"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">

      </div>
    </header>
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">植田ひかるCrawler</span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="/"><i class="material-icons">home</i> Home</a>
        <a class="mdl-navigation__link" href="/events"><i class="material-icons">event</i> Events</a>
        <a class="mdl-navigation__link" href="/news"><i class="material-icons">rss_feed</i> News</a>
        <a class="mdl-navigation__link" href="/twitter"><img src="{{ url_for('static', filename='./img/twitter.jpg') }}" alt="twitter" width="24" height="24"> Twitter</a>
        <!--<a class="mdl-navigation__link" href="/about"><i class="material-icons">assignment</i>About</a>-->
        <a class="mdl-navigation__link" href="/develop"><i class="material-icons">build</i>Develop</a>
      </nav>
    </div>
    <main class="mdl-layout__content">
      <div class="page-content">
        <div class="mdl-layout mdl-js-layout mdl-color--grey-100 layout-font">
        	<main class="mdl-layout__content">
          {% block body %}{% endblock %}
          </main>
        </div>
      </div>
    </main>
  </div>
</body>
